[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
stqdm="*"
fasttext-wheel="*"
st-gsheets-connection="*"
boto3 = "*"
pymongo = "*"
xlsxwriter = "*"
altair = "<5"
langdetect="*"
Cython="*"
pycld3="*"
unidecode="*"
requests="*"
bson="*"

[dev-packages]

[requires]
python_version = "3.9"
