streamlit
stqdm
fasttext-wheel
st-gsheets-connection
boto3
pymongo
xlsxwriter
altair<5
langdetect
Cython
pycld3
unidecode
emoji==1.7.0
pythainlp
langdetect==1.0.9
jieba==0.42.1
janome == 0.5.0
konlpy == 0.6.0
openai
tiktoken
